- name: Install nginx Debian/Ubuntu
  apt:
    name: nginx=1.14.0-0ubuntu1.10
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"
  notify: start nginx

- name: Write the vhosts config file
  template:
    src: "nginx.j2"
    dest: "/etc/nginx/conf.d/{{ item.name1 }}.conf"
  when: ansible_os_family == "Debian"
  with_items: "{{ sites }}"
  notify: reload nginx

- name: Create dir for cert
  file:
    path: "/etc/letsencrypt/live/{{ item.name1 }}"
    state: directory
  with_items: "{{ sites }}"

- name: Copy ssl cert privkey.pem
  copy:
    src: "~/ansible/roles/nginx/files/privkey.pem"
    dest: "/etc/letsencrypt/live/{{ item.name1 }}/privkey.pem"
  with_items: "{{ sites }}"

- name: Copy ssl cert fullchain.pem
  copy:
    src: "~/ansible/roles/nginx/files/fullchain.pem"
    dest: "/etc/letsencrypt/live/{{ item.name1 }}/fullchain.pem"
  with_items: "{{ sites }}"
    
- name: Copy ssh private key
  copy:
    src: "~/ansible/roles/nginx/files/rsakey"
    dest: "/home/ubuntu/.ssh/rsakey"
