server {
       listen {{ item.listen | default('80') }};
       listen [::]:{{item.listen | default('80') }};

{% if item.server_name is string %}
       server_name {{ item.server_name }};
{% else %}
       server_name {{ item.server_name | join(' ') }};
{% endif %}
{% if item.root is defined %}
       root {{ item.root }};
{% endif %}     
       index {{ item.index | default('index.html index.htm') }};


}
