---
- name: Check if Nginx exists
  stat: path=/etc/init.d/nginx
  register: nginx_status

- name: Write the nginx config file
  template:
    src: "u_nginx.conf.j2"
    dest: "/etc/nginx/nginx.conf"
  when: ansible_os_family == "Debian"
  notify: reload nginx

- name: Write the nginx config file
  template:
    src: "c_nginx.conf.j2"
    dest: "/etc/nginx/nginx.conf"
  when: ansible_os_family == "RedHat"
  notify: reload nginx  
